.loader {
    width: 40px;
    height: 40px;
    border: 3px solid rgba(212, 175, 55, 0.2);
    border-top-color: #d4af37;
    border-radius: 50%;
    animation: girar 0.8s linear infinite;
    margin: 4rem auto;
}

@keyframes girar {
    to {
        transform: rotate(360deg);
    }
}